NetFrameworkConsole/Connected Services/SCAccountWS/SCAccountWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="findUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryUsers">
        <s:complexType />
      </s:element>
      <s:element name="queryUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modifyUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserAmount">
        <s:complexType />
      </s:element>
      <s:element name="getUserAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserAmountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryUsersByPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageSize" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryUsersByPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryUsersByPageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="findUserSoapIn">
    <wsdl:part name="parameters" element="tns:findUser" />
  </wsdl:message>
  <wsdl:message name="findUserSoapOut">
    <wsdl:part name="parameters" element="tns:findUserResponse" />
  </wsdl:message>
  <wsdl:message name="queryUsersSoapIn">
    <wsdl:part name="parameters" element="tns:queryUsers" />
  </wsdl:message>
  <wsdl:message name="queryUsersSoapOut">
    <wsdl:part name="parameters" element="tns:queryUsersResponse" />
  </wsdl:message>
  <wsdl:message name="modifyUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:modifyUserInfo" />
  </wsdl:message>
  <wsdl:message name="modifyUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:modifyUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="delUserSoapIn">
    <wsdl:part name="parameters" element="tns:delUser" />
  </wsdl:message>
  <wsdl:message name="delUserSoapOut">
    <wsdl:part name="parameters" element="tns:delUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserAmountSoapIn">
    <wsdl:part name="parameters" element="tns:getUserAmount" />
  </wsdl:message>
  <wsdl:message name="getUserAmountSoapOut">
    <wsdl:part name="parameters" element="tns:getUserAmountResponse" />
  </wsdl:message>
  <wsdl:message name="queryUsersByPageSoapIn">
    <wsdl:part name="parameters" element="tns:queryUsersByPage" />
  </wsdl:message>
  <wsdl:message name="queryUsersByPageSoapOut">
    <wsdl:part name="parameters" element="tns:queryUsersByPageResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountServiceSoap">
    <wsdl:operation name="findUser">
      <wsdl:input message="tns:findUserSoapIn" />
      <wsdl:output message="tns:findUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="queryUsers">
      <wsdl:input message="tns:queryUsersSoapIn" />
      <wsdl:output message="tns:queryUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modifyUserInfo">
      <wsdl:input message="tns:modifyUserInfoSoapIn" />
      <wsdl:output message="tns:modifyUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delUser">
      <wsdl:input message="tns:delUserSoapIn" />
      <wsdl:output message="tns:delUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserAmount">
      <wsdl:input message="tns:getUserAmountSoapIn" />
      <wsdl:output message="tns:getUserAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="queryUsersByPage">
      <wsdl:input message="tns:queryUsersByPageSoapIn" />
      <wsdl:output message="tns:queryUsersByPageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSoap" type="tns:AccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findUser">
      <soap:operation soapAction="http://tempuri.org/findUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUsers">
      <soap:operation soapAction="http://tempuri.org/queryUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserInfo">
      <soap:operation soapAction="http://tempuri.org/modifyUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delUser">
      <soap:operation soapAction="http://tempuri.org/delUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAmount">
      <soap:operation soapAction="http://tempuri.org/getUserAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUsersByPage">
      <soap:operation soapAction="http://tempuri.org/queryUsersByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountServiceSoap12" type="tns:AccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findUser">
      <soap12:operation soapAction="http://tempuri.org/findUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUsers">
      <soap12:operation soapAction="http://tempuri.org/queryUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserInfo">
      <soap12:operation soapAction="http://tempuri.org/modifyUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delUser">
      <soap12:operation soapAction="http://tempuri.org/delUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAmount">
      <soap12:operation soapAction="http://tempuri.org/getUserAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUsersByPage">
      <soap12:operation soapAction="http://tempuri.org/queryUsersByPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountServiceSoap" binding="tns:AccountServiceSoap">
      <soap:address location="http://localhost:31692/WebService/AccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountServiceSoap12" binding="tns:AccountServiceSoap12">
      <soap12:address location="http://localhost:31692/WebService/AccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>